[Unit]
Description=SmartDSP CamillaDSP Engine
After=sound.target
Wants=sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/camilladsp -p 1234 %h/.config/smrt-dsp/camilladsp.yml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
